$colours: (
  greenNew: #37846B,
  greenSection: #288E60,
  dark: #1a1a1a,
  black: #000000,
  border: #222,
  lightDark: #333333,
  textGrey: #999999,
  white: #ffffff
);

$tablet: 1500px;
$mobile: 600px;

@function colour($colour-name) {
  @return map-get($colours, $colour-name);
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

/* Scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: colour(dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: colour(greenDark);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:aktiv-grotesk,Helvetica,Arial,sans-serif;
  margin: 0;
  background: colour(black);
  color: colour(white);

  #bg-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:100vh;
    max-width: 700px;
    margin:auto;
  }

  .header {
    padding:3em;
  }

  .text_header {
    color: rgba(255,255,255,0.9);
    font-size: 5.5vw;
    line-height: 1;
    letter-spacing: -2.7px;
    margin-bottom: .2em;
    @include mobile {
      font-size: 2.5em;
      letter-spacing: 1px;
    }

    @include tablet {
      font-size: 5em;
      letter-spacing: 1px;
    }
  }
  
  .text_subheader {
    color: rgba(255,255,255,0.8);
    font-size: calc(21px + 11*(100vw - 1440px)/1120);
    line-height: 1.33;
    letter-spacing: .3px;
    word-spacing: .4px;
    @include mobile {
      font-size: 2.2em;
      letter-spacing: 1px;
    }

    @include tablet {
      font-size: 1.8em;
      letter-spacing: 1px;
    }
  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  hr {
    height: 0.3rem;
    background-color: colour(greenLight);
    width: 6rem;
    margin: 0.5rem auto 0 auto;
    border: 0;
  }

  .container {
    margin: auto;
    max-width: 700px;
  }

  .greenNew {
    background-color: colour(greenNew);
  }

  .green {
    background-color: colour(greenSection);
  }

  .grey {
    background-color: colour(dark);
  }

  .border {
    background-color: colour(border);
    height: 10px;
  }
}

.about {
  padding: 3em;

  h1 {
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: -0.009em;
  }

  h3 {
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: -0.009em;
    color: colour(textGrey);
  }

  p {
    font-size: 1.5em;
    color: colour(white);
  }
}

.work {
  padding: 3em;

  h1 {
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: -0.009em;
  }

  h3 {
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: -0.009em;
    color: rgba(0,0,0,0.7);
  }

  p {
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.8);
  }
}

.footer {
  padding: 3em;

  h1 {
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: -0.009em;
  }

  h3 {
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: -0.009em;
    color: colour(black);
  }

  p {
    font-size: 1.5em;
    color: colour(white);
  }

  a {
    font-size: 1em;
    background:
       linear-gradient(
         to bottom, colour(greenSection) 0%,
         colour(greenSection) 100%
       );
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 4px 4px;
    color: colour(white);
    text-decoration: none;
    transition: background-size .2s;
    padding-bottom: 5px;
  }
  
  a:hover {
    background-size: 4px 50px;
  }
}
