body {
    background-color: #DEDAD7!important;
}

h1 {
    font-weight: 400!important;
    font-size: 36px!important;
}

h1.headline {
    font-weight: 800!important;
    font-size: 87px!important;
    color: white;
}


p.headline {
    font-weight: 600!important;
    font-size: 36px!important;
    color:white;
}

h2 {
    font-weight: 400!important;
    font-size: 24px!important;
}

tr {
    border-color: #846D00!important;
}

th {
    border-color: #846D00!important;
}

td {
    border-color: #846D00!important;
}